* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;

}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 20px #FFFFFF;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}

.social img {
    width: 33px;
}


.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    background: #FFFFFF;
    display: block;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}



